# Node modules
node_modules/

# Expo and Metro bundler
.expo/
.expo-shared/
.cache/
dist/
web-build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# macOS metadata
*.swp
*.swo

# Android build artifacts
android/app/build/
android/.gradle/
android/.idea/
android/local.properties

# iOS build artifacts
ios/Pods/
ios/build/
ios/.idea/
ios/Podfile.lock

# Test coverage
coverage/

# Misc
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*